.start__rooms__container__principal{
    width: 100%;
}

.start__background__fases{
    background-image: url('https://us.123rf.com/450wm/alexeyzatevahin/alexeyzatevahin2202/alexeyzatevahin220200005/181499207-campeonato-mundial-de-f%C3%BAtbol-2022-fondo-de-campo-de-f%C3%BAtbol-en-color-bandera-nacional.jpg?ver=6');
    background-repeat: no-repeat;
    color: #fff;
    border-radius: 2em !important;
}